.Header {
  height: 100px;
  width: 100%;
 
  background-color: rgb(63, 192, 235);
}

body{
  background-color: rgb(9, 29, 43);
  display: flex;
  justify-content: center;
  align-items: center;
}

.emp-box{

  box-sizing: border-box;
  height: 350px;
  width: 500px;
  background-color: azure;
  padding-left: 10%;

}

.btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}